/*Raleway font-face rules*/
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Thin'),
         local('Raleway Thin'), 
         url('../assets/fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Thin.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-ExtraLight'),
         local('Raleway ExtraLight'),
         url('../assets/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-ExtraLight.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Light'),
         local('Raleway Light'),
         url('../assets/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Light.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Regular'),
         local('Raleway Regular'),
         url('../assets/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Regular.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Medium'),
         local('Raleway Medium'),
         url('../assets/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Medium.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-SemiBold'),
         local('Raleway SemiBold'),
         url('../assets/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Bold'),
         local('Raleway Bold'),
         url('../assets/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Bold.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-ExtraBold'),
         local('Raleway ExtraBold'),
         url('../assets/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: local('Raleway-Black'),
         local('Raleway Black'),
         url('../assets/fonts/Raleway/Raleway-Black.woff2') format('woff2'),
         url('../assets/fonts/Raleway/Raleway-Black.woff') format('woff'),
         url('../assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

/*Lora font-face rules*/
@font-face {
	font-family: 'Lora';
	src: local('Lora-Regular'),
         local('Lora'),
         url('../assets/fonts/Lora/Lora-Regular.woff2') format('woff2'),
         url('../assets/fonts/Lora/Lora-Regular.woff') format('woff'),
         url('../assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Lora';
	src: local('Lora-Medium'),
         local('Lora Medium'),
         url('../assets/fonts/Lora/Lora-Medium.woff2') format('woff2'),
         url('../assets/fonts/Lora/Lora-Medium.woff') format('woff'),
         url('../assets/fonts/Lora/Lora-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Lora';
	src: local('Lora-SemiBold'),
         local('Lora SemiBold'),
         url('../assets/fonts/Lora/Lora-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Lora/Lora-SemiBold.woff') format('woff'),
         url('../assets/fonts/Lora/Lora-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Lora';
	src: local('Lora-Bold'),
         local('Lora Bold'),
         url('../assets/fonts/Lora/Lora-Bold.woff2') format('woff2'),
         url('../assets/fonts/Lora/Lora-Bold.woff') format('woff'),
         url('../assets/fonts/Lora/Lora-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}