.tour-program {
    position: relative;
    margin: 5rem 0;
}

.tour-program__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.tour-program__title:before {
    content: url('../assets/icons/place-marker.svg');
}

.tour-program__description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tour-program__slider-container {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 45%;
    overflow: hidden; 
}

.tour-program__slider {
    position: relative;
    height: 260px;
    width: 320px;
    margin-bottom: 3rem;
}

.tour-program__slider .coverflow-slider__btn {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}

.tour-program__slider .coverflow-slider__btn_next {
    left: 2.5rem;
} 

/*odd tour-programs*/
.tour-program:nth-child(odd) .tour-program__description {
    align-items: flex-end;
    margin-left: auto;
}

.tour-program:nth-child(odd) .tour-program__title,
.tour-program:nth-child(odd) .tour-program__text {
    text-align: right;
}

.tour-program:nth-child(odd) .tour-program__title {
    flex-direction: row-reverse;
}

.tour-program:nth-child(odd) .tour-program__slider-container {
    left: 0;
}

.tour-program:nth-child(odd) .tour-program__slider {
    margin-left: auto;
}

.tour-program:nth-child(odd) .coverflow-slider__btn {
    left: auto;
}

.tour-program:nth-child(odd) .coverflow-slider__btn_next {
    right: 0;
}

.tour-program:nth-child(odd) .coverflow-slider__btn_prev {
    right: 2.5rem;
}

@media(max-width: 900px) {
    .tour-program {
        margin: 3.5rem 0;
    }

    .tour-program:nth-child(odd) .tour-program__slider-container {
        margin-left: 1.5rem;
    }

    .tour-program:nth-child(odd) .tour-program__slider-container {
        margin-right: 1.5rem;
    }

    .tour-program__description {
        width: 100%;
    }
    .tour-program__slider-container {
        position: static;
        width: calc(100% - 1.5rem);
        margin-top: 2rem;
    }
}

@media (max-width: 500px) {
    .tour-program__slider {
        height: 240px;
        width: 280px;
    }
}

.tour-programs-container {
    position: relative;
}

.svg-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.svg-container svg {
    width: 100%;
}